

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	color:#666;
	font-size:16px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Oswald', sans-serif;
	font-weight:400;
}
.jumbotron{
	/* background:#4084B1;*/
	background: url('file:///Users/philfremont-smith/Documents/websites/sipple.me/img/bg_pic.jpg') center center;
	background-size: cover;
	color:#F2EFF3;
	border-bottom:3px solid #eee;
}
.jumbotron p {
	font-weight:300;
}
span.red{
	color:#E32E25;
}
.prof_pic{
	border-radius:100%;
	border:10px solid #fff;
	float:left;
	margin:0 40px 40px 0;
}
.projects img{
	border-radius:4px;
	border:3px solid #eee;
	margin-bottom:10px;
}
.btn-resume{
	background:#f90;
	color:#fff;
	padding:15px 45px;
	font-size:16px;
	border-radius:40px;
}
.btn-resume:hover{
	color:#fff;
	background: #F59402;
}
.projects .row:first-child{
	border-bottom:1px solid #eee;
	padding-bottom:30px;
	margin-bottom:30px;
}
footer{
	background:#f6f6f6;
	padding:30px;
	color:#999;
}









